#cookies-eu-banner {
  background: var(--base);
  color: var(--text);
  padding: 6px;
  font-size: 13px;
  text-align: center;
}
#cookies-eu-more,
#cookies-eu-accept,
#cookies-eu-reject {
  text-decoration: none;
  background: var(--glare);
  color: var(--text);
  border: 1px solid var(--ui);
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: bold;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
  -webkit-box-shadow: 0 0.625em 1.875em var(--shade);
  -moz-box-shadow: 0 0.625em 1.875em var(--shade);
  box-shadow: 0 0.625em 1.875em var(--shade);
}
#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-accept:focus {
  background: var(--text);
  color: var(--glare);
}
#cookies-eu-more {
  margin-left: 7px;
}

#cookies-eu-reject {
  background: none;
  font-weight: normal;
  color: var(--text);
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  border: 1px solid var(--ui);
}
#cookies-eu-reject:hover,
#cookies-eu-reject:focus {
  border-color: var(--ui);
  background: var(--text);
  color: var(--glare);
}

#cookies-eu-reject {
  color: #ffffff;
  background-color: #a80000;
}

#cookies-eu-accept {
  color: #ffffff;
  background-color: #006000;
}
